<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.eyelesson.dao.Mk_NodeDAO">

    <insert id="InsertNode" parameterType="com.eyelesson.entity.Mk_Note">
        <selectKey keyProperty="mid" keyColumn="mid" resultType="int" order="BEFORE">
            select max(mknid)+1 from mk_note
        </selectKey>
        insert into mk_note(mknid,mknotecontent,mkcstid,mkuid)values(#{mid},#{mknotecontent},#{mkcstid},#{mkuid})
    </insert>




    <select id="NoteAll" resultType="java.util.Map">

        select mn.mknid,mn.mknotecontent,mn.mkuid,mn.mknctime,mkss.mkcsid,mkss.mkcstid,mkss.mkcsname,count(mf.mknid) count from mk_note mn
        left join mk_soncourse_section mkss
        on mn.mkcstid=mkss.mkcstid
        left join mk_Fabulous mf on mn.mknid=mf.mknid
        where mn.mkuid=#{param1}
        group by mn.mknid

    </select>


    <select id="authall" resultType="java.util.Map">
        select mkc.mkcsid,mkc.mkctitle,mkdf.mkdfname,mkc.mkctime,mkc.mkclearned,mkc.mkcscore,mkc.mkteacherlearwhat,mkc.mkcimg,mku.mkuname,mku.mkuimg,mku.mkuintroduce,
        mks.mksname,mks.mksimg from mk_course mkc left join mk_use mku
        on mkc.mkuid=mku.mkuid
        left join mk_staff mks on mkc.mksid=mks.mksid
        left join mk_difficulty mkdf on mkc.mkdfid=mkdf.mkdfid
        where mkc.mkcsid=#{param1}
    </select>


</mapper>