<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.eyelesson.dao.Mk_UseDAO">

    <select id="findOne" parameterType="Mk_Use" resultType="Mk_Use">
        select * from mk_use where mkuphone=#{mkuphone}
        <if test="mkupassword != null">
            and  mkupassword=#{mkupassword}
        </if>
    </select>


    <select id="selectOnes" parameterType="Mk_Use" resultType="Mk_Use">
        select * from mk_use where mkuphone=#{mkuphone}
    </select>


    <select id="selectMkuid" resultType="java.lang.Integer">
        select max(mkuid+1) from mk_use
    </select>

</mapper>