<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AAA后台登录</title>
    <!-- load css -->
    <link rel="stylesheet" type="text/css" href="/hts/back/common/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="/hts/back/css/login.css" media="all">
</head>
<body>
<!--<div class="layui-canvs"></div>-->
<div class="layui-layout layui-layout-login">
    <h1>
        <strong>目课网管理系统后台</strong>
        <em>Management System</em>
    </h1>
    <form action="/hou/loginSubmit" method="post" class="layui-form">
        <div class="layui-user-icon larry-login">
            <input type="text" placeholder="账号" class="login_txtbx" lay-verify="required" name="mkusername" value="admin"/>
        </div>
        <div class="layui-pwd-icon larry-login">
            <input type="password" placeholder="密码" class="login_txtbx" lay-verify="required" name="mkupassword" value="123456"/>
        </div>
        <div>
            <p style="color:red; font-size:15px" th:text="${msg}"></p>
        </div>
        <div class="layui-submit larry-login">
            <input type="submit" lay-submit lay-filter="logSubmit" value="立即登陆" class="submit_btn"/>
        </div>
    </form>
    <div class="layui-login-text">
        <p>© 2019-2020 AAA 版权所有</p>
        <p>第一小组答辩项目</p>
    </div>
</div>



<script type="text/javascript" src="/hts/back/common/layui/lay/dest/layui.all.js"></script>
<script type="text/javascript" src="/hts/back/js/login.js"></script>
<script type="text/javascript" src="/hts/back/jsplug/jparticle.jquery.js"></script>
<script type="text/javascript">
    $(function(){
        $(".layui-canvs").jParticle({
            background: "black",
            color: "red"
        });
    });

</script>
</body>
</html>
