<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>个人主页</title>

    <link rel="stylesheet" type="text/css" href="res/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="res/css/base.css">
    <link rel="stylesheet" type="text/css" href="res/css/common-less.css">
    <link rel="stylesheet" type="text/css" href="res/css/moco.min.css">
    <link rel="stylesheet" type="text/css" href="res/css/common1.css">
    <link rel="stylesheet" type="text/css" href="res/css/bootstrap1.min.css">
    <link rel="stylesheet" type="text/css" href="res/css/profile-less.css">
    <script type="text/javascript" src="res/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="res/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="res/css/3.css"/>
</head>

<body>

<!--头部开始-->
<!--头部结束-->
<div id="main">

    <div class="settings-cont clearfix">
        <div class="setting-left l">
            <div class="avator-wapper">
                <div class="avator-mode">
                    <img class="avator-img" src="" data-portrait="5e02b8f50001e4bb04050408" width="92" height="92">
                    <div class="update-avator" style="bottom: -30px;">
                        <p><a href="javascript:void(0);" class="js-avator-link">更换头像</a></p>
                    </div>
                </div>
                <div class="des-mode">
                    <p>qq_慕无忌2087832</p>
                    <span>ID: 7874633</span>
                    <dl class="js-auth-list clearfix auth-list">

                        <dd><i class="fa fa-user-circle-o"></i><div class="icon-tips hide" style="display: none;"><div class="triangle_border_up"><span></span></div>还未实名认证</div></dd>

                        <dd><i class="fa fa-graduation-cap"></i><div class="icon-tips hide" style="display: none;"><div class="triangle_border_up"><span></span></div>还未学籍认证</div></dd>

                        <dd class="active"><i class="fa fa-mobile"></i><div class="icon-tips hide" style="display: none;"><div class="triangle_border_up"><span></span></div>你已绑定手机</div></dd>
                        <dd><i class="fa fa-envelope-o"></i><div class="icon-tips hide" style="display: none;"><div class="triangle_border_up"><span></span></div>还未绑定邮箱</div></dd>
                    </dl>
                </div>
            </div>
            <iframe src="about:blank" id="uploadtarget" name="uploadtarget" frameborder="0" style="display:none;"></iframe>
            <div class="list-wapper">
                <h2>账户管理</h2>
                <div class="line"></div>
                <ul class="menu">
                    <li>
                        <a href="#userbinding" aria-controls="userbinding" role="tab" data-toggle="tab" class="on">账号绑定
                            <span class="arr"><i class="fa fa-angle-right"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="#userinfo" aria-controls="userinfo" role="tab" data-toggle="tab" >个人信息<span class="arr"><i class="fa fa-angle-right"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="#Record" aria-controls="Record" role="tab" data-toggle="tab">操作记录<span class="arr"><i class="fa fa-angle-right"></i></span></a>
                    </li>
                    <li>
                        <a href="#realname" aria-controls="realname" role="tab" data-toggle="tab">实名认证<span class="arr"><i class="fa fa-angle-right"></i></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 左侧开始了 在这里循环吧 -->
        <div class="setting-right">

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="userbinding">

                    <div class="setting-right-wrap wrap-boxes settings">

                        <div class="page-settings">
                        <div class="oplog-tip">
                            上次登录时间：2019-12-24  19:21:40&nbsp;&nbsp;&nbsp;地点：  <a href="/user/oplog">查看最近操作记录</a>
                            <span class="tip-close pull-right js-tip-close">×</span>
                        </div>
                        <div class="common-title">
                            账号绑定 <span class="title-tips">完成<b class="color-red">3/4</b></span>
                            <a href="/help/cate/17" class="pull-right" target="_blank"><i class="fa fa-question-circle-o"></i>常见问题</a>
                        </div>
                        <div class="line"></div>
                        <div class="setting">
                            <div class="contentBox">
                                <div class="bingd">
                                    <div class="itemBox">
                                        <div class="left">  <i class="fa fa-envelope-o"></i></div>
                                        <div class="center">
                                            <p><span class="font1">邮箱</span>
                                                <span class="font3">
                            </span> <span class="font4">未绑定（绑定邮箱可得一积分）

                            </span>
                                            </p>
                                            <p class="font2">可用邮箱加密码登录慕课网，可用邮箱找回密码</p>
                                        </div>
                                        <div class="right">
                                            <a href="javascript:void(0);" class="binding js-bindemail moco-btn moco-btn-normal">立即绑定</a>
                                        </div>
                                    </div>
                                    <div class="itemBox">
                                        <div class="left">  <i class="fa fa-mobile"></i></div>
                                        <div class="center">
                                            <p> <span class="font1">手机</span> <span class="font4" id="jsPhone">131******27</span></p>
                                            <p class="font2">可用手机号加密码登录慕课网，可通过手机号找回密码 <a class="font2" style="text-decoration: underline;" href="//www.imooc.com/help/detail/78" target="_blank">无法绑定</a></p>
                                        </div>
                                        <div class="right">
                                            <a href="javascript:void(0);" class="change js-operate-phone moco-btn moco-btn-normal" changetype="phone">操作</a>
                                            <input type="hidden" id="account" value="131******27">
                                        </div>
                                    </div>

                                    <div class="itemBox">
                                        <div class="left">  <i class="fa fa-lock"></i></div>
                                        <div class="center">
                                            <p> <span class="font1">密码</span> 已设置</p>
                                            <p class="font2">用于保护账号信息和登录安全</p>
                                        </div>
                                        <div class="right">
                                            <a href="javascript:void(0);" class="moco-btn moco-btn-normal js-changePWD">修改</a>
                                        </div>
                                    </div>

                                    <div class="itemBox bb0 h380">
                                        <div class="left">  <i class="fa fa-external-link"></i></div>
                                        <div class="center">
                                            <p class="font1">社交账号</p>
                                            <p class="font2">绑定第三方账号，可以直接登录，还可以将内容同步到以下平台，与更多好友分享</p>
                                            <div class="accountBox">
                                                <div class="inner-i-box">
                                                    <i class="fa fa-weibo fa-5x"></i>
                                                    <p class="mr87 bind-name">微博</p>
                                                    <p class="mr87 red">未绑定</p>
                                                    <a href="/passport/user/tplogin?tp=weibo&amp;bind=1" aria-role="button" hidefocus="true" class="moco-btn-normal rlf-btn-green btn js-bind mr87">添加绑定</a>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="right"> </div>
                                        <div class="cb">    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        var hasPass;
                        hasPass=true;</script>


                </div>

            </div>
            <div role="tabpanel" class="tab-pane" id="userinfo">

                <div id="setting-profile" class="setting-wrap setting-profile">
                    <div class="edit-info" style="display: none;">
                        <form class="js-wapper-form">
                            <div class="moco-form-group">
                                <label  class="moco-control-label">昵称：</label>
                                <div class="moco-control-input">
                                    <input type="text" name="nickname" id="nick" autocomplete="off" data-validate="require-nick" class="moco-form-control" value="qq_慕无忌2087832" placeholder="请输入昵称">
                                    <div class="rlf-tip-wrap errorHint color-red"></div>
                                </div>
                            </div>
                            <div class="moco-form-group wlfg-wrap">
                                <label  class="moco-control-label h16 lh16">性别：</label>
                                <div class="moco-control-input rlf-group rlf-radio-group">
                                    <label><input type="radio" hidefocus="true" value="0" name="sex">保密</label>
                                    <label><input type="radio" hidefocus="true" value="1" checked="checked" name="sex">男</label>
                                    <label><input type="radio" hidefocus="true" value="2" name="sex">女</label>
                                    <div class="rlf-tip-wrap errorHint color-red"></div>
                                </div>
                            </div>
                            <div class="moco-form-group wlfg-wrap">
                                <label  class="moco-control-label">个性签名：</label>
                                <div class="moco-control-input">
                                    <div class="pr">
                                        <textarea name="aboutme" id="aboutme" rows="5" class="noresize js-sign moco-form-control"></textarea>
                                        <p class="numCanInput js-numCanInput ">还可以输入128个字符</p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="common-title">
                        个人信息
                        <a href="javascript: void(0);" class="pull-right js-edit-info"><i class="fa fa-pencil"></i>编辑</a>
                    </div>
                    <div class="line"></div>
                    <div class="info-wapper">
                        <div class="info-box clearfix">
                            <label class="pull-left">昵称</label><div class="pull-left">qq_慕无忌2087832</div>
                        </div>
                        <div class="info-box clearfix">
                            <label class="pull-left">职位</label><div class="pull-left">未设置</div>
                        </div>
                        <div class="info-box clearfix">
                            <label class="pull-left">城市</label>
                            <div class="pull-left">
                                未设置
                            </div>
                        </div>
                        <div class="info-box clearfix">
                            <label class="pull-left">性别</label><div class="pull-left">
                            男</div>
                        </div>
                        <div class="info-box clearfix">
                            <label class="pull-left">个性签名</label><div class="pull-left">未设置</div>
                        </div>
                    </div>
                </div>

            </div>
            <div role="tabpanel" class="tab-pane" id="Record">
                aaaa
            </div>
            <div role="tabpanel" class="tab-pane" id="realname">

                <div class="page-settings">
                    <div class="common-title">
                        实名认证
                    </div>
                    <div class="line"></div>
                    <div class="setting ">
                        <div class="contentBox">
                            <div class="auth-box">
                                <a href="javascript:void(0);" class="auth-start js-start">开始认证</a>
                            </div>

                            <dl class="auth-des">
                                <dt>认证须知</dt>
                                <dd>1、实名认证可以提升您在慕课网的个人信息及虚拟财产的安全等级，同时也能够更好的体验慕课网的各项虚拟服务；</dd>
                                <dd>2、实名认证通过后，将无法修改和删除，请谨慎填写；</dd>
                                <dd>3、实名认证通过后，系统将自动发放10个积分作为奖励；<a class="red" href="//www.imooc.com/u/7874633/credit" target="_blank">查看积分</a></dd>
                                <dd>4、我们会确保你所提供的信息均处于严格的保密状态，不会泄露；</dd>
                                <dd>5、如果多次认证不通过，请联系邮箱 user@imooc.com</dd>
                                <dd style="font-weight:bold;">6、如存在恶意乱填写姓名，身份证号码，及上传与身份证证件无关图片者，一经发现将冻结慕课网账号。</dd>
                            </dl>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>

</div>

<!--尾部开始-->
<!--尾部结束-->
</body>

</html>
