<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>目课问答</title>



    <link href="res/css/reset1.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="res/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="res/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="res/css/moco.min.css">
    <link href="res/css/node.css" rel="stylesheet" type="text/css"/>
    <link href="/res/bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="res/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/res/index/head.css"/>
    <link rel="stylesheet" type="text/css" href="res/simditor/site/assets/styles/simditor.css" />
    <script type="text/javascript" src="res/simditor/site/assets/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="res/simditor/site/assets/scripts/module.js"></script>
    <script type="text/javascript" src="res/simditor/site/assets/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="res/simditor/site/assets/scripts/uploader.js"></script>
    <script type="text/javascript" src="res/simditor/site/assets/scripts/simditor.js"></script>

    <link rel="icon" type="image/png" href="res/i/ico.png" sizes="16x16">
    <script type="text/javascript" src="res/js/my.js"></script>
    <style>

        .simditor .simditor-wrapper {
            height: 200px;
            position: relative;
            background: #ffffff;
            overflow:auto;
        }
        a:focus, a:hover{
            text-decoration: none;
        }

    </style>

</head>
<body>

<!-- 头部-start -->
<!-- 头部-start -->
<div class="f-header">
    <div class="f-header-box clearfix">
        <a href=".." class="logo" title="网校在线学习平台"></a>
        <nav class="header-nav">
            <a href="/Mk_Use/index" class="header-nav-item">首 页</a>
            <a href="list.html" class="header-nav-item">免费课程</a>
            <a href="list.html" class="header-nav-item">实战课程</a>
            <a href="list.html" class="header-nav-item">猿 问</a>

            <div style="border: 1px solid white;width: 220px;margin-top: -5px;margin-left: 380px;background: white;border-radius: 10px">
                <input type="text" placeholder="请输入关键字..."
                       style="width: 200px;border: 5px solid white;border-radius: 10px"/>
                <a href="javascript:;"
                   style="border: 0px solid red;width: 20px;position: absolute;top: 32px;left:860px">
                    <i class="glyphicon glyphicon-search" style="font-size: 20px"></i>
                </a>
            </div>
        </nav>

        <nav class="header-nav" style="float:right">
            <a href="#" class="header-nav-item" style="margin-left:0px;font-size:14px;">管理后台</a>
            <!--<th:block th:text="" />-->
            <span id="isshow" th:if="${session.msgss==null}">
					<a href="#myModal" class="header-nav-item" data-toggle="modal" onclick="login();"
                       style="margin-right:0px;font-size:14px;">登录</a>
					<a href="#myModal" class="header-nav-item" data-toggle="modal" onclick="registe()"
                       style="margin-left:0px;font-size:14px;">注册</a>
				</span>

            <span id="isshow2" style="width: 400px" th:if="${session.msgss!=null}">
					<a href="javascript:;" class="header-nav-item" data-toggle="modal"
                       style="margin-right:0px;">
							<i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
					</a>
					<a href="javascript:;" class="header-nav-item" data-toggle="modal"
                       style="margin-right:0px;">
							<i class="fa fa-bell fa-lg" aria-hidden="true"></i>
					</a>
					<a href="javascript:;" class="header-nav-item" data-toggle="modal"
                       style="margin-right:0px;font-size:14px;">
							我的课程
					</a>
					<a id="userdetail" href="javascript:;" class="header-nav-item"
                       data-toggle="modal" style="margin-left:0px;height: 50px">
						<img th:src="@{'/img/'+${session.msgss.mkuimg}}" class="img-circle" style="height: 30px;width: 30px">
					</a>
				</span>

        </nav>
    </div>
</div>

<!-- 鼠标放头像悬浮 -->
<div id="xuanfu" th:if="${session.msgss!=null}">
    <a href="javascript:;" style="width:300px;position: absolute;top: 10px;left: 20px">

        <img th:src="@{'/img/'+${session.msgss.mkuimg}}" class="img-circle" style="height: 80px;width: 80px;">

        <label style="font-size: 25px;margin-left: 10px;margin-top: -40px"
               th:text="${session.msgss.mkuname}"></label>
        <p style="font-size: 12px;margin-top: -30px;margin-left: 100px">积分<label
                th:text="${session.msgss.mkuintegral}"></label></p>
    </a>

    <a href="javascript:;"
       style="border:3px solid #F8F8F8;height: 40px;width:45%;text-align: center;background:#F8F8F8;position: absolute;top: 110px;left: 10px"
       onmousemove="bigImg(this)" onmouseout="normalImg(this)">
					<span style="line-height: 40px;">
                        <i class="glyphicon glyphicon-book"></i>
						我的课程
					</span>
    </a>

    <a href="javascript:;"
       style="border: 1px solid #F8F8F8;height: 40px;width:45%;text-align: center;background:#F8F8F8;position: absolute;top: 110px;left: 150px"
       onmousemove="bigImg(this)" onmouseout="normalImg(this)">
					<span style="line-height: 40px;">
                        <i class="glyphicon glyphicon-list-alt"></i>
						订单中心
					</span>
    </a>

    <a href="javascript:;"
       style="border: 1px solid #F8F8F8;height: 40px;width:45%;text-align: center;background:#F8F8F8;position: absolute;top: 160px;left: 10px"
       onmousemove="bigImg(this)" onmouseout="normalImg(this)">
					<span style="line-height: 40px;">
                        <i class="glyphicon glyphicon-hourglass"></i>
						积分商城
					</span>
    </a>

    <a href="javascript:;"
       style="border: 1px solid #F8F8F8;height: 40px;width:45%;text-align: center;background:#F8F8F8;position: absolute;top: 160px;left: 150px"
       onmousemove="bigImg(this)" onmouseout="normalImg(this)">
					<span style="line-height: 40px;">
                        <i class="glyphicon glyphicon-cog"></i>
						个人设置
					</span>
    </a>

    <a href="/Mk_Use/logout"
       style="height: 20px;width:20%;text-align: center;position: absolute;top: 240px;left: 20px">
					<span style="line-height: 40px;font-size: 12px">
						安全退出
					</span>
    </a>

</div>

<script type="text/javascript">

    /* 头像 鼠标悬浮事件 移入 */
    $("#userdetail").mouseover(function () {
        $("#xuanfu").show();
    });
    /* 头像 鼠标悬浮事件 移出 */
    $("#userdetail").mouseout(function () {
        $("#xuanfu").hide();
    })

    /* 头像 鼠标悬浮事件 移入 */
    $("#xuanfu").mouseover(function () {
        $("#xuanfu").show();
    });

    /* 头像 鼠标悬浮事件 移出 */
    $("#xuanfu").mouseout(function () {
        $("#xuanfu").hide();
    })

    function bigImg(x) {
        /*$('.xuan').css('background','#C8C8C8')*/
        x.style.background = '#C8C8C8'
    }

    function normalImg(x) {
        /*$('.xuan').css('background','#F8F8F8')*/
        x.style.background = '#F8F8F8'

    }


    var yzm = "";

    /*获取手机验证码*/
    function sendCodes(a,c) {
        var phone;
        //随后使用ajax方式提交
        if (c=='zcmkuphone'){
            phone = $("#zcmkuphone").val();
        }else{
            phone = $("#zlmkuphone").val();
        }

        if (phone!=""){
            $.ajax({
                url:"/Mk_Use/phone",
                data:{"phone":phone},
                type:'post',
                success:function(data){
                    alert(data)
                    if (data!='0'){
                        yzm=data;
                        /* 倒计时 */
                        timer(a);
                    }else{
                        $(".msg").text("手机号已被注册")
                    }
                },error:function (xhr,msg) {
                    alert("数据错误")
                }
            })
        }else {
            $(".msg").text("请输入手机号")
        }
    }
    var wait = 60

    /* 验证码倒计时 */
    function timer(b) {
        if (wait == 0) {
            $(b).text("重新验证码")
            $(b).removeAttr("disabled");
            $(b).css("border-color", "1e9fff").css("background", "#ffffff").css("cursor", "pointer").css("color", "#1481b8");
            wait = 60;
        } else {
            $(b).attr("disabled", "true");
            $(b).css("border-color", "fbfbfb").css("background", "white").css("cursor", "not-allowed").css("color", "black").css("font-size", "12px");
            $(b).text(wait + "秒后重发");
            wait--;
            setTimeout(function () {
                timer(b)
            }, 1000);
        }
    }

    /* 关闭登录注册窗口 */
    function closemyModal() {
        /* 隐藏遮罩层 */
        $(".modal-backdrop").hide()
        /* 隐藏登录窗口 */
        $("#myModal").hide()
        $(".form-control").text("");
    }

    /* 显示登录 */
    function login() {
        $('#registeTitle').css('color', '#000');
        $('#registeForm').hide();
        $('#phoneloginForm').hide();
        $(".msg").text("");
        $('#loginTitle').css('color', '#337Ab7');
        $('#loginForm').show();
        $(".modal-backdrop").css('display', 'block')


    }

    /* 显示手机号登录 */
    function pathonLogin() {
        $('#phoneloginForm').show();
        $('#loginTitle').css('color', '#337Ab7');
        $('#loginForm').hide();
        $(".msg").text("");
    }

    /* 显示注册 */
    function registe() {
        $('#registeTitle').css('color', '#337Ab7');
        $('#registeForm').show();
        $('#loginTitle').css('color', '#000');
        $('#loginForm').hide();
        $('#phoneloginForm').hide();
        $(".msg").text("");
    }

    /* 注册 */
    function zhucelogin() {
        if($("#zcmkuphone").val()=="" || $("#zcyzm").val()=="" || $("#zcmkupassword").val()==""){
            $(".msg").text("请填写信息在注册")
        }else{

            if ($("#zcyzm").val()!=yzm){
                $(".msg").text("请输入正确的验证码")
            } else{
                $.ajax({
                    url: '/Mk_Use/insertUser',
                    data: $("#registeForm").serialize(),
                    type: 'post',
                    success: function (data) {
                        alert(data)
                        if (data == '1') {
                            $(".msg").text("手机号已存在,请重新输入")
                        } else {
                            alert("注册成功,请登录")
                            window.location = 'http://localhost:8080/Mk_Use/index'
                        }
                    },
                    error: function (xhr, msg) {
                        alert('出错')
                    }

                })
            }
        }
    }

    /* 登录 */
    function loginFormOne(cc) {
        var aa;
        /* 账号 */
        var zh;
        /* 密码 */
        var ma;
        if (cc == "loginForm") {
            aa = $("#loginForm").serialize();
            zh="mkuphone"
            ma="mkupassword";
        } else {
            aa = $("#phoneloginForm").serialize();
            zh="dlmkuphone";
            ma="dlyzm";
        }



        if($("#"+zh).val()=="" || $("#"+ma).val()==""){
            $(".msg").text("请填写信息在登录")
        }else{
            if($("#dlyzm").val()!=yzm){
                $(".msg").text("请输入正确的验证码")
            }else{
                $.ajax({
                    url: '/Mk_Use/selectOne',
                    data: aa,
                    type: 'post',
                    success: function (data) {
                        if (data.length == 0) {
                            $(".msg").text("输入错误,请重新输入")
                        } else {
                            /*/!* 显示个人窗口 *!/
                            $("#isshow2").css('display','block')
                            /!* 隐藏登录注册 *!/
                            $("#isshow").css("display",'none')
                            /!* 隐藏遮罩层 *!/
                            $(".modal-backdrop").css('display','none')
                            /!* 隐藏登录窗口 *!/
                            $("#myModal").css('display','none')*/
                            window.location = 'http://localhost:8080/Mk_Use/index'
                        }
                    },
                    error: function (xhr, msg) {
                        alert("出错")
                    }

                })
            }
        }
    }

</script>
<!-- 头部-end -->

<!-- 登录注册-start -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     style="position:fixed; top:25%;width:384px;left: 40%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" dataclose-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size:18px;">×</span>
                </button>
                <h4 class="modal-title" id="loginTitle" style="float: left; color: #337Ab7;cursor: pointer; "
                    onclick="login();">登录</h4>
                <h4 class="modal-title" id="registeTitle" style="float: left;margin-left: 20px;cursor: pointer;"
                    onclick="registe();">注册</h4>
                <div class="clearfix"></div>
                <!-- 关闭按钮 -->
                <a href="javascript:void(0)" onclick="closemyModal()"
                   style="width: 20px;height: 20px;position: absolute;top: 20px;left: 320px;"
                   class="glyphicon glyphicon-remove"></a>
            </div>

            <div class="modal-body">
                <!-- 登录 -->
                <form id="loginForm" action="/Mk_Use/selectOne" class="form-horizontal"
                      style="padding: 0px 20px;margin-left:25px;width: 300px;" method="post">

                    <div class="form-group">
                        <input type="text" class="form-control"c id="mkuphone" name="mkuphone"
                               placeholder="请输入登录手机号/邮箱">
                    </div>

                    <div class="form-group help">
                        <input type="password" class="form-control" id="mkupassword" name="mkupassword"
                               placeholder="请输入密码">
                    </div>

                    <div class="form-group">
                        <label>
                            <input type="checkbox" value="None" id="checkbox1" name="check">
                            <span class="text" style="color: #787D82;font-size: 14px;">7天内自动登录</span>
                        </label>
                        <a href="javascript:;"
                           style="color: #9199a1;margin-top: -25px;margin-left:30px;width: 65px">找回密码</a>
                        <div style="border-right: 1px solid #9199a1;margin-top: -23px;margin-left: 200px;width: 20px;height: 15px;"></div>
                        <a href="javascript:;" style="color: #9199a1; position: absolute;top: 115px;left: 280px">无法登录</a>
                        <!--<a href="javascript:;" style="color: #9199a1;margin-top:-100px;margin-left: 250px;width: 65px;height: 15px">无法登录</a>-->
                    </div>

                    <p class="msg"></p>

                    <a href="javascript:void(0)" onclick="loginFormOne('loginForm')">
                        <div class="header-login-btn" style="border-radius: 50px;">登 录</div>
                    </a>

                    <div style="width: 90px;height: 25px;margin-top: 10px">
                        <a href="javascript:void(0)" style="color: red" onclick="pathonLogin()">手机短信登录</a>
                    </div>

                    <div style="height: 25px;margin-top: 5px;margin-left: 40px">
                        <span style="font-size: 12px;">登录即同意目课网<a href="javascript:;"
                                                                  style="color: red;font-size: 12px;color: #37f;margin-top: -18px;margin-left:0px">《私密政策》</a></span>
                    </div>

                </form>

                <!-- 手机号登录 -->
                <form id="phoneloginForm" class="form-horizontal"
                      style="padding: 0px 20px;margin-left:25px;width: 300px;display: none">

                    <div class="form-group">
                        <input type="text" class="form-control" id="dlmkuphone" name="mkuphone" placeholder="请输入登录手机号">
                    </div>

                    <div class="form-group help">
                        <input type="text" class="form-control" id="dlyzm" style="width: 200px"
                               placeholder="请输入短信验证码">
                        <p style="margin-top: -25px;margin-left: 215px;width: 100px">
                            <a href="javascript:void(0)" style="font-size: 12px;color:#1481b8!important;"
                               onclick="sendCodes(this,'dlmkuphone')">获取验证码</a>
                        </p>
                    </div>

                    <div class="form-group">
                        <label>
                            <input type="checkbox" value="None" id="checkbox1" name="check">
                            <span class="text" sloginFormOnetyle="color: #787D82;font-size: 14px;">7天内自动登录</span>
                        </label>
                    </div>

                    <p class="msg"></p>

                    <a href="javascript:void(0)" onclick="loginFormOne('phoneloginForm')">
                        <div class="header-login-btn" style="border-radius: 50px">登 录</div>
                    </a>

                    <div style="width: 90px;height: 25px;margin-top: 10px">
                        <a href="javascript:;" style="color: red" onclick="login()">账号密码登录</a>
                    </div>

                    <div style="height: 25px;margin-top: 5px;margin-left: 40px">
                        <span style="font-size: 12px;">登录即同意目课网<a href="javascript:;"
                                                                  style="color: red;font-size: 12px;color: #37f;margin-top: -18px;margin-left:0px">《私密政策》</a></span>
                    </div>

                </form>


                <!-- 注册 -->
                <form id="registeForm" class="form-horizontal"
                      style="padding: 0px 20px;margin-left:25px;width: 300px;display: none">

                    <div class="form-group">
                        <input type="text" class="form-control" id="zcmkuphone" name="mkuphone" placeholder="请输入手机号">
                    </div>


                    <div class="form-group help">


                        <input type="text" class="form-control" id="zcyzm" style="width: 200px"
                               placeholder="请输入短信验证码">

                        <p style="margin-top: -25px;margin-left: 215px;width: 100px">
                            <a href="javascript:void(0)" style="font-size: 12px;color:#1481b8!important;"
                               onclick="sendCodes(this,'zcmkuphone')">获取验证码</a>
                        </p>

                    </div>

                    <div class="form-group help">
                        <input type="password" class="form-control" id="zcmkupassword" name="mkupassword" placeholder="请输入密码">
                    </div>

                    <div class="form-group">
                        <label>
                            <input type="checkbox" value="None" id="checkbox1" name="check">
                            <span class="text" style="color: #787D82;font-size: 14px;">
										同意&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&
										<a href="javascript:;"
                                           style="color: red;font-size: 12px;color: #37f;margin-top: -24px;margin-left:-120px">《慕课网注册协议》</a>
										<a href="javascript:;"
                                           style="color: red;font-size: 12px;color: #37f;margin-top:-198px;margin-left:0  px">《隐私政策》</a>
									</span>
                        </label>
                    </div>

                    <p class="msg"></p>

                    <a href="javascript:void(0)" onclick="zhucelogin()">
                        <div class="header-login-btn" style="border-radius: 50px">注册</div>
                    </a>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- 头部-end -->
<!--中间-->
<div id="main" style="">
    <input type="hidden" th:if="${session.msgss!=null}" th:value="${session.msgss.mkuid}" id="uid"/>
    <div class="container qa-container clearfix" style="">
        <div class="crumbs clearfix">
            <p class="l">
                <a href="/course/list">课程</a>
            </p>
            <p class="l">
                <span>\</span><a href="/course/list?c=be" th:text="${nodes.mkctname}">后端开发</a>
            </p>
            <p class="l">
                <span>\</span><a href="/course/list?c=java" th:text="${nodes.mkcname}">Java</a>
            </p>
            <p class="l">
                <span>\</span><a href="/learn/1059" th:text="${nodes.mkctitle}">Springboot 微信小程序 – 微信登录功能实战</a>
            </p>
        </div>
        <div class="qa-left l" style="">
            <div class="qa-left-wrap" style="">
                <div class="qa-header">
                    <div class="qa-header-right r">
                        <!-- credit -->

                        <a href="javascript:;" data-id="336639" data-type="5" data-uid="8075445" class="js-tip-off l tipoff">举报</a>
                        <!-- share -->
                        <div class="small-share l">
                            <ul class="share-wrap">
                                <li>
                                    <span class="share-txt">分享</span>
                                </li>
                                <li class="weichat-posi">
                                    <div class="bdsharebuttonbox weichat-style bdshare-button-style0-16" data-tag="share_1" data-bd-bind="1576053957010">
                                        <a href="#" class="fa fa-weixin" aria-hidden="true" data-cmd="weixin" title="分享到微信"></a>
                                        <a href="#" class="fa fa-qq" aria-hidden="true" data-cmd="qzone" title="分享到QQ空间"></a>
                                        <a href="#" class="fa fa-weibo" aria-hidden="true" data-cmd="tsina" title="分享到新浪微博"></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <em class="split l"></em>
                        <!-- follow 发帖人的id -->
                        <input type="hidden" id="nodetitle" th:value="${nodes.mkctitle}" />
                        <input type="hidden" id="nodeuid" th:value="${nodes.mkuid}"/>
                        <a th:onclick="'javascript:follow('+${nodes.mkuid}+')'" data-id="336639" class="l wenda-add-collection js-collection-btn">
                            <i id="heart" class="fa fa-heart-o" aria-hidden="true"></i>
                        </a>
                        <span class="care l">关注</span>
                    </div>
                    <a th:href="@{/Mk_Use/useshow(mkuid=${nodes.mkuid})}" target="_blank" class="qa-author" >
                        <img th:src="@{'img/'+${nodes.mkuimg}}" width="40" height="40" >
                        <a th:text="${nodes.mkuname}"></a>
                    </a>
                </div>
                <div class="qa-content" data-qid="336639">
                    <div class="qa-content-inner aimgPreview">
                        <div id="js-content-main">
<!--                            当前问题的id-->
                            <input type="hidden" id="mkatpid" th:value="${nodes.mkatpid}"/>
                            <h1  class="js-qa-wenda-title qa-wenda-title" th:text="${nodes.mkatitle}">小程序端发送POST失败   后端控制台不输出</h1>
                            <div id="js-qa-content" class="qa-disscus rich-text" th:utext="${nodes.mkatpcontent}"><p>POST失败</p><p><img src="" title="" alt="" data-src="" style="cursor: pointer;"></p><p><img src="" title="" alt="" data-src="" style="cursor: pointer;"></p></div>
                        </div>
                    </div>

                    <div class="share-rl-tips cont-credit">
                        <span>快来回答问题，最佳答案可 +</span><strong>2积分</strong>
                        <a target="_blank" href="/help" class="credit-rl">什么是积分？</a>
                    </div>

                    <div class="qa-content-addon clearfix">
                        <span class="qa-createtime l" th:text="${nodes.mkatptime}">2天前</span>
                        <a href="/video/18062" class="qa-course-from" th:text="${nodes.mkcsname}"> 源自：Springboot 微信小程序 –... 2-4</a>
                        <span class="qa-view-num r"><span th:text="${nodes.mkapreview}"></span>浏览</span>
                        <span class="qa-total-comment r"><span th:text="${nodes.count}"></span> 回答</span>
                    </div>
                </div>

                <div class="qa-comments">

<!--                    评论开始了-->
                    <div class="qa-comment js-qa-comment" data-cid="493206" id="id_493206" th:each="li:${answlist}">


                        <div class="qa-comment-wrap clearfix " th:if="${li.mkaid==0}">
                            <!--1级评论开始-->
                            <div class="qa-comment-author">
                                <a  href="/u/6770146/bbs">
                                    <img th:src="@{'img/'+${li.mkuimg}}"  width="40" height="40">
                                    <span class="qa-comment-nick" th:text="${li.mkuname}">不朽的战斗机</span>
                                </a>
                            </div>
                            <div class="qa-comment-d ">
                                <!-- <div class="qa-triangle-left"><i></i></div> -->
                                <div class="qa-comment-inner">
                                    <div class="qa-comment-c aimgPreview">
                                        <div class="rich-text">
                                            <p th:utext="${li.mkatpcontent}">点同学笔记看看有吗</p>
                                        </div>
                                    </div>
                                    <div class="qa-comment-addon">
                                        <span class="qa-comment-time" th:text="${li.mkantptime}">2019-05-11</span>
                                        <div class="qa-comment-addon-r">
                                            <a href="javascript:;" data-id="493206" data-type="6" data-uid="6770146" class="js-tip-off l tipoff">举报</a>
                                            <span class="qa-total-reply js-reply-item-reply" th:onclick="'javascript:huifu('+${li.mkantid}+')'">
                                                <i class="fa fa-commenting" aria-hidden="true"></i>
                                                <span class="js-qa-tr-num" th:onclick="'javascript:huifu('+${li.mkantid}+')'">回复</span>
                                                <input type="hidden"  id="aamkatpid"/>
                                            </span>
                                            <span class="js-qa-comment-support qa-comment-support  js-qacom-supported-user" data-ids="307336-493206">
                                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                                <span th:text="${li.fab}">1</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- 回复框 -->
                                <div class="js-qa-reply-ibox qa-reply-ibox  clearfix" th:id="'ls'+${li.mkantid}"  style="display:none;">
                                    <div class="qa-reply-iavator l js-header-avator" >
                                        <a th:href="@{/Mk_Use/useshow(mkuid=${session.msgss.mkuid})}" >
                                            <img th:src="@{'img/'+${session.msgss.mkuimg}}" alt="">
<!--                                            用来装这个回复的id-->
                                            <input type="hidden" id="huifua"/>
                                        </a>
                                    </div>
                                    <div class="qa-reply-iwrap">
                                        <div class="qa-reply-iarea">
                                            <textarea name="" th:id="edit+${li.mkantid}" class="js-reply-ipt-default ipt" placeholder="写下你的评论...">写下你的评论...</textarea>
                                        </div>
                                    </div>
                                    <div class="qa-reply-ifoot clearfix">
                                        <div class="qa-reply-footright r">
                                            <div class="captcha-verify-box js-reply-verify-box hide"></div>
                                            <span class="qa-tips"></span>
                                            <button class="btn-normal btn-mini js-ipt-cancel" th:onclick="'javascript:cancelcom('+${li.mkantid}+')'">取消</button>
                                            <button class="btn-mini btn-green  js-ipt-submit" th:onclick="'javascript:commitreply('+${li.mkantid}+')'">提交</button>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        function huifu(mknantid) {
                                            var dis=$("#ls"+mknantid).css("display");
                                            $("#edit"+mknantid).html("写下你的评论......");
                                            $("#huifua").val(mknantid);
                                            if(dis=='none')
                                            {
                                                $("#ls"+mknantid).css("display","block");
                                            }
                                            else
                                            {
                                                $("#ls"+mknantid).css("display",'block');
                                            }
                                        }
                                        function cancelcom(mkkkid) {
                                            //获取距离上级元素的display
                                            var dis=$("#ls"+mkkkid).css("display","none");
                                        }
                                        function huifua(mkkaaid) {
                                            //获取回复的名称
                                            var aname=$("#mkan"+mkkaaid).html();
                                            //获取回复框的id
                                            var ls=$("#lsmkan"+mkkaaid).val();
                                            //把当前id弄到页面中的一个input中
                                            $("#aaamkatpid").val(mkkaaid);
                                            if(aname!="")
                                            {
                                                $("#edit"+ls).html("回复"+aname+"......");
                                                $("#ls"+ls).css("display","block");
                                            }
                                        }
                                        function commitreply(mkanid) {
                                            //获取当前问题的id
                                            var mkat=$("#mkatpid").val();
                                            console.log(mkat)
                                            //获取回复的id   一级评论获取不到
                                            var aamatpid=$("#huifua").val();

                                            //获取当前用户的id  //获取不到当前的id
                                            var uid=$("#uid").val();
                                            console.log(uid);
                                            //获取用户输入的内容
                                            var content=$("#edit"+mkanid).val();
                                            console.log(content)
                                            $.ajax({
                                                url:"/InsertAnAnwer",
                                                type:"post",
                                                data:{mkatpid:mkat,mkatpcontent:content,mkuid:uid,mkaid:aamatpid},
                                                success:function(data)
                                                {
                                                    console.log("回复成功了");
                                                }
                                            })

                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
<!--                        二级评论-->
                        <div class="qa-reply" th:if="${li.mkaid!=0}">
                            <div class="qa-reply-header"></div>
                            <div class="qa-replies">
                                <div class="qa-reply-c">
                                    <!-- 默认显示三条回复的回复 -->
                                    <div class="qa-reply-item" data-rid="493206">
                                        <span th:if="${li.uname!=null}">
                                            <a class="qa-reply-item-author" href="/u/7874633/bbs" title="qq_慕无忌2087832">
                                            <img th:src="@{'img/'+${li.mkuimg}}" width="40" height="40">
                                        </a>
                                        </span>
                                        <span th:if="${li.uname==null}">
                                            <a class="qa-reply-item-author" href="/u/7874633/bbs" title="qq_慕无忌2087832">
                                            <img th:src="@{'img/'+${li.mkuimg}}" width="40" height="40">
                                            </a>
                                        </span>
                                        <div class="qa-reply-item-inner">
                                            <input type="hidden" th:id="lsmkan+${li.mkantid}" th:value="${li.mkantid}"/>
                                            <p th:if="${li.uname!=null}">
                                                <a href="/u/7874633/bbs" class="qa-reply-nick" th:id="'mkan'+${li.mkantid}" th:text="${li.mkuname}">qq_慕无忌2087832</a>
                                                回复<a href="/u/7874633/bbs" class="qa-reply-nick" th:text="${li.uname}"></a>
                                            </p>
                                            <p th:if="${li.uname==null}">
                                                <a href="/u/7874633/bbs" class="qa-reply-nick" th:id="'mkan'+${li.mkantid}" th:text="${li.mkuname}">qq_慕无忌2087832</a>
                                            </p>
                                            <p class="q-reply-item-c" th:text="${li.mkatpcontent}">
                                                瓦达问答
                                            </p>
                                            <div class="qa-reply-item-foot clearfix">
                                                <span class="reply-item-index r">#<span th:text="${li.mkanum}"></span></span>
                                                <span th:text="${li.mkantptime}">5天前</span>
                                                <span class="qa-reply-item-reply js-reply-item-reply" th:onclick="'javascript:huifua(\''+${li.mkantid}+'\');'" data-uid="7874633|qq_慕无忌2087832" >
                                                        <i class="fa fa-commenting" aria-hidden="true"></i>回复
                                                        <input type="hidden"  id="aaamkatpid"/>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--这是只显示三条数据-->
<!--                                    <div class="overplusnum js-overplus-num" data-rid="493206" data-uid="6400258">点击展开后面<em class="js-reminds-num">3</em>条评论</div>-->
                                </div>

                                <!-- 回复框 -->
                                <div class="js-qa-reply-ibox qa-reply-ibox  clearfix" th:id="'ls'+${li.mkantid}"  style="display:none;">
                                    <div class="qa-reply-iavator l js-header-avator" >
                                        <a th:href="@{/Mk_Use/useshow(mkuid=${session.msgss.mkuid})}" >
                                            <img th:src="@{'img/'+${session.msgss.mkuimg}}" alt="">
                                        </a>
                                    </div>
                                    <div class="qa-reply-iwrap">
                                        <div class="qa-reply-iarea">
                                            <textarea name="" th:id="edit+${li.mkantid}" class="js-reply-ipt-default ipt" placeholder="写下你的评论...">写下你的评论...</textarea>
                                        </div>
                                    </div>
                                    <div class="qa-reply-ifoot clearfix">
                                        <div class="qa-reply-footright r">
                                            <div class="captcha-verify-box js-reply-verify-box hide"></div>
                                            <span class="qa-tips"></span>
                                            <button class="btn-normal btn-mini js-ipt-cancel" th:onclick="'javascript:cancelcom('+${li.mkantid}+')'">取消</button>
                                            <button class="btn-mini btn-green  js-ipt-submit" th:onclick="'javascript:commitreply('+${li.mkantid}+')'">提交</button>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        function huifu(mknantid) {
                                            console.log(mknantid);
                                            var dis=$("#ls"+mknantid).css("display");
                                            $("#edit"+mknantid).html("写下你的评论......");
                                            console.log(dis);
                                            if(dis=='none')
                                            {
                                                $("#ls"+mknantid).css("display","block");
                                            }
                                            else
                                            {
                                                $("#ls"+mknantid).css("display",'block');
                                            }
                                        }
                                        function cancelcom(mkkkid) {
                                            //获取距离上级元素的display
                                            var dis=$("#ls"+mkkkid).css("display","none");
                                        }
                                        function huifua(mkkaaid) {
                                            //获取回复的名称
                                            var aname=$("#mkan"+mkkaaid).html();
                                            //获取回复框的id
                                            var ls=$("#lsmkan"+mkkaaid).val();
                                            //把当前id弄到页面中的一个input中
                                            $("#aaamkatpid").val(mkkaaid);
                                            if(aname!="")
                                            {
                                                $("#edit"+ls).html("回复"+aname+"......");
                                                $("#ls"+ls).css("display","block");
                                            }
                                        }
                                        function commitreply(mkanid) {
                                            //获取当前问题的id
                                            var mkat=$("#mkatpid").val();
                                            //获取回复的id
                                            var aamatpid=$("#aaamkatpid").val();
                                            //获取当前用户的id
                                            var uid=$("#uid").val();
                                            //获取用户输入的内容
                                            var content=$("#edit"+mkanid).val();
                                            $.ajax({
                                                url:"/InsertAnAnwer",
                                                type:"post",
                                                data:{mkatpid:mkat,mkatpcontent:content,mkuid:uid,mkaid:aamatpid},
                                                success:function(data)
                                                {
                                                    console.log("回复成功了");
                                                }
                                            })

                                        }
                                    </script>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div id="js-qa-comment-input" class="qa-comment-input js-msg-context  clearfix" style="">
                    <div class="qa-ci-avator l js-header-avator" th:href="@{/Mk_Use/useshow(mkuid=${session.msgss.mkuid})}" >

                        <a th:href="@{/Mk_Use/useshow(mkuid=${session.msgss.mkuid})}" >
                            <img th:src="@{'img/'+${session.msgss.mkuimg}}" width="40" height="40">
                        </a>
                    </div>
                    <div class="qa-ci-wrap">
                        <div id="js-reply-editor-box" class="qa-comment-box js-ci-inner  edui-imooc" style="">
                            <!-- 编辑器所在的位置 -->
                            <div>
                                <textarea id="editor" autofocus></textarea>
                            </div>
                            <script type="text/javascript">
                                $(function(){
                                    var editor = new Simditor({
                                        textarea:$('#editor'),
                                        //optional options
                                        toolbar:[
                                            'code' ,
                                            'bold',
                                            'italic',        // unordered list
                                            'blockquote',
                                            // 'emoji',
                                            'image',
                                            'indent',
                                            'outdent',
                                        ],
                                        //  emoji: {
                                        // 	imagePath: 'images/emoji/'
                                        // },
                                        defaultImage : 'images/image.png', //编辑器插入图片时使用的默认图片
                                        upload : {
                                            url : '/InsertNode', //文件上传的接口地址
                                            params: null, //键值对,指定文件上传接口的额外参数,上传的时候随文件一起提交
                                            fileKey: 'file', //服务器端获取文件数据的参数名
                                            connectionCount: 1,
                                            width:100,
                                            height:100,
                                            leaveConfirm: '正在上传文件'
                                        }
                                    });
                                })

                            </script>
                        </div>
                        <div id="js-qa-ci-footer" class="qa-ci-footer clearfix">
                            <div class="qa-ci-footright r">
                                <div class="captcha-verify-box js-verify-box hide"></div>
                                <span class="qa-tips"></span>
                                <button id="js-qa-ci-submit" class="btn btn-green " data-qid="336639" th:onclick="'javascript:AnswerTopic()'">回答</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tipoff-block js-tipoff-block"></div>
            <div class="tipoff-box js-tipoff-box">
                <div class="tipoff-top-box clearfix">
                    <p class="l tipoff-title">举报</p>
                    <span class="r tipoff-close-btn icon-close2 js-tipoff-close"></span>
                </div>
                <div class="tipoff-type-box js-tipoff-typebox clearfix">
                    <div class="tipoff-loading">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
                <div class="tipoff-content">
                    <textarea name="tipoff-content" class="tipoff-desc js-tipoff-desc" placeholder="写下举报理由"></textarea>
                    <div class="tipoff-text"><span class="js-tipoff-text">0</span>/150</div>
                </div>
                <div class="tipoff-btn-box clearfix">
                    <div class="r tipoff-submit-btn js-tipoff-submit" data-tipofftype="">提交</div>
                    <div class="r tipoff-cancel-btn js-tipoff-close">取消</div>
                </div>
            </div>




        </div>
        <div class="qa-right r">
            <div class="wenda-slider">
                <!-- pub new ques -->
                <div class="newques-container">
                    <a href="/wenda/save" class="newques-btn" id="js-newques" target="_blank"><!--<i class="icon-addques"></i>-->发新问题</a>
                </div>
                <!--user info-->
                <div class="wenda-my">
                    <div class="user-info">
                        <a class="user-img js-header-avator" th:href="@{/Mk_Use/useshow(mkuid=${session.msgss.mkuid})}" >
                            <img th:if="${session.msgss!=null}" th:src="@{'/img/'+${session.msgss.mkuimg}}" alt="">
                        </a>
                        <p class="username js-header-nickname" th:if="${session.msgss!=null}" th:text="${session.msgss.mkuname}">当前登录的用户</p>
                        <a href="/u/8360092/credit" target="_blank" class="credit-count">我的积分：<span class="js-header-credit" th:if="${session.msgss!=null}" th:text="${session.msgss.mkuintegral}">0</span></a>
                    </div>

                </div>

                <!-- only my tags -->
                <!-- all of tags -->
                <!-- recommen -->
                <!-- hot questiones -->

                <!--ques relations -->
                <!-- relevant tag -->

                <div class="panel about-ques">
                    <div class="panel-heading">
                        <h2 class="panel-title">相关问题</h2>
                    </div>
                    <div class="panel-body clearfix" th:each="t:${top5}">
                        <div class="mkhotlist"><a th:href="@{/findNode(mkatpid=${t.mkatpid})}" target="_blank" th:text="${t.mkatitle}">不太明白，有大神能详细讲讲吗？    比如num/=10;</a></div>
                    </div>
                </div>

                <!-- reply rank -->
                <!-- course relations -->
            </div>
        </div>
    </div>

</div>

<!-- 页脚-start -->
<div class="f-footer" th:fragment="tail">
    <div class="f-footer-box clearfix">
        <div class="footer-link">
            <a href="javascript:void(0);"  target="_blank" title="企业合作">企业合作</a>
            <a href="javascript:void(0);" target="_blank" title="联系我们">联系我们</a>
            <a href="javascript:void(0);" target="_blank" title="常见问题">常见问题</a>
            <a href="javascript:void(0);" target="_blank" title="意见反馈">意见反馈</a>
            <a href="javascript:void(0);" target="_blank" title="友情链接">友情链接</a>
        </div>
        <div class="footer-copyright">
            <span>©&nbsp;2017&nbsp; 备案 </span>
        </div>
    </div>
</div>
<!-- 页脚-end-->


</body>
</html>