<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>个人主页</title>

    <link rel="stylesheet" type="text/css" href="/res/index/head.css"/>
    <link href="res/css/reset1.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="res/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="res/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="res/css/moco.min.css">
    <link href="res/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="res/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="res/css/index-le.css" />
    <link href="/res/bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
    <!--    编辑器的-->
    <link rel="stylesheet" type="text/css" href="res/simditor/site/assets/styles/simditor.css" />
    <script type="text/javascript" src="res/simditor/site/assets/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="res/simditor/site/assets/scripts/module.js"></script>
    <script type="text/javascript" src="res/simditor/site/assets/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="res/simditor/site/assets/scripts/uploader.js"></script>
    <script type="text/javascript" src="res/simditor/site/assets/scripts/simditor.js"></script>
    <style type="text/css">
        a:focus, a:hover{
            text-decoration: none;
        }
        .simditor .simditor-wrapper {
            height: 200px;
            position: relative;
            background: #ffffff;
            overflow:auto;
        }
    </style>
    <script type="text/javascript" src="res/js/my.js"></script>
</head>

<body>

<!-- 头部-start -->
<div class="f-header">
    <div class="f-header-box clearfix">
        <a href=".." class="logo" title="网校在线学习平台"></a>
        <nav class="header-nav">
            <a href="/Mk_Use/index" class="header-nav-item">首 页</a>
            <a href="list.html" class="header-nav-item">免费课程</a>
            <a href="list.html" class="header-nav-item">实战课程</a>
            <a href="list.html" class="header-nav-item">猿 问</a>

            <div style="border: 1px solid white;width: 220px;margin-top: -5px;margin-left: 380px;background: white;border-radius: 10px">
                <input type="text" placeholder="请输入关键字..."
                       style="width: 200px;border: 5px solid white;border-radius: 10px"/>
                <a href="javascript:;"
                   style="border: 0px solid red;width: 20px;position: absolute;top: 32px;left:860px">
                    <i class="glyphicon glyphicon-search" style="font-size: 20px"></i>
                </a>
            </div>
        </nav>

        <nav class="header-nav" style="float:right">
            <a href="#" class="header-nav-item" style="margin-left:0px;font-size:14px;">管理后台</a>
            <!--<th:block th:text="" />-->
            <span id="isshow" th:if="${session.msgss==null}">
					<a href="#myModal" class="header-nav-item" data-toggle="modal" onclick="login();"
                       style="margin-right:0px;font-size:14px;">登录</a>
					<a href="#myModal" class="header-nav-item" data-toggle="modal" onclick="registe()"
                       style="margin-left:0px;font-size:14px;">注册</a>
				</span>

            <span id="isshow2" style="width: 400px" th:if="${session.msgss!=null}">
					<a href="javascript:;" class="header-nav-item" data-toggle="modal"
                       style="margin-right:0px;">
							<i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
					</a>
					<a href="javascript:;" class="header-nav-item" data-toggle="modal"
                       style="margin-right:0px;">
                            <i class="fa fa-bell fa-lg" aria-hidden="true"></i>

					</a>
					<a href="javascript:;" class="header-nav-item" data-toggle="modal"
                       style="margin-right:0px;font-size:14px;">
							我的课程
					</a>
					<a id="userdetail" href="javascript:;" class="header-nav-item"
                       data-toggle="modal" style="margin-left:0px;height: 50px">
						<img th:src="@{'/img/'+${session.msgss.mkuimg}}" class="img-circle" style="height: 30px;width: 30px">
					</a>
				</span>

        </nav>
    </div>
</div>

<!-- 鼠标放头像悬浮 -->
<div id="xuanfu" th:if="${session.msgss!=null}">
    <a href="javascript:;" style="width:300px;position: absolute;top: 10px;left: 20px">

        <img th:src="@{'/img/'+${session.msgss.mkuimg}}" class="img-circle" style="height: 80px;width: 80px;">

        <label style="font-size: 25px;margin-left: 10px;margin-top: -40px"
               th:text="${session.msgss.mkuname}"></label>
        <p style="font-size: 12px;margin-top: -30px;margin-left: 100px">积分<label
                th:text="${session.msgss.mkuintegral}"></label></p>
    </a>

    <a href="javascript:;"
       style="border:3px solid #F8F8F8;height: 40px;width:45%;text-align: center;background:#F8F8F8;position: absolute;top: 110px;left: 10px"
       onmousemove="bigImg(this)" onmouseout="normalImg(this)">
					<span style="line-height: 40px;">
                        <i class="glyphicon glyphicon-book"></i>
						我的课程
					</span>
    </a>

    <a href="javascript:;"
       style="border: 1px solid #F8F8F8;height: 40px;width:45%;text-align: center;background:#F8F8F8;position: absolute;top: 110px;left: 150px"
       onmousemove="bigImg(this)" onmouseout="normalImg(this)">
					<span style="line-height: 40px;">
                        <i class="glyphicon glyphicon-list-alt"></i>
						订单中心
					</span>
    </a>

    <a href="javascript:;"
       style="border: 1px solid #F8F8F8;height: 40px;width:45%;text-align: center;background:#F8F8F8;position: absolute;top: 160px;left: 10px"
       onmousemove="bigImg(this)" onmouseout="normalImg(this)">
					<span style="line-height: 40px;">
                        <i class="glyphicon glyphicon-hourglass"></i>
						积分商城
					</span>
    </a>

    <a href="javascript:;"
       style="border: 1px solid #F8F8F8;height: 40px;width:45%;text-align: center;background:#F8F8F8;position: absolute;top: 160px;left: 150px"
       onmousemove="bigImg(this)" onmouseout="normalImg(this)">
					<span style="line-height: 40px;">
                        <i class="glyphicon glyphicon-cog"></i>
						个人设置
					</span>
    </a>

    <a href="/Mk_Use/logout"
       style="height: 20px;width:20%;text-align: center;position: absolute;top: 240px;left: 20px">
					<span style="line-height: 40px;font-size: 12px">
						安全退出
					</span>
    </a>

</div>

<script type="text/javascript">

    /* 头像 鼠标悬浮事件 移入 */
    $("#userdetail").mouseover(function () {
        $("#xuanfu").show();
    });
    /* 头像 鼠标悬浮事件 移出 */
    $("#userdetail").mouseout(function () {
        $("#xuanfu").hide();
    })

    /* 头像 鼠标悬浮事件 移入 */
    $("#xuanfu").mouseover(function () {
        $("#xuanfu").show();
    });

    /* 头像 鼠标悬浮事件 移出 */
    $("#xuanfu").mouseout(function () {
        $("#xuanfu").hide();
    })

    function bigImg(x) {
        /*$('.xuan').css('background','#C8C8C8')*/
        x.style.background = '#C8C8C8'
    }

    function normalImg(x) {
        /*$('.xuan').css('background','#F8F8F8')*/
        x.style.background = '#F8F8F8'

    }


    var yzm = "";

    /*获取手机验证码*/
    function sendCodes(a,c) {
        var phone;
        //随后使用ajax方式提交
        if (c=='zcmkuphone'){
            phone = $("#zcmkuphone").val();
        }else{
            phone = $("#zlmkuphone").val();
        }

        if (phone!=""){
            $.ajax({
                url:"/Mk_Use/phone",
                data:{"phone":phone},
                type:'post',
                success:function(data){
                    alert(data)
                    if (data!='0'){
                        yzm=data;
                        /* 倒计时 */
                        timer(a);
                    }else{
                        $(".msg").text("手机号已被注册")
                    }
                },error:function (xhr,msg) {
                    alert("数据错误")
                }
            })
        }else {
            $(".msg").text("请输入手机号")
        }
    }
    var wait = 60

    /* 验证码倒计时 */
    function timer(b) {
        if (wait == 0) {
            $(b).text("重新验证码")
            $(b).removeAttr("disabled");
            $(b).css("border-color", "1e9fff").css("background", "#ffffff").css("cursor", "pointer").css("color", "#1481b8");
            wait = 60;
        } else {
            $(b).attr("disabled", "true");
            $(b).css("border-color", "fbfbfb").css("background", "white").css("cursor", "not-allowed").css("color", "black").css("font-size", "12px");
            $(b).text(wait + "秒后重发");
            wait--;
            setTimeout(function () {
                timer(b)
            }, 1000);
        }
    }

    /* 关闭登录注册窗口 */
    function closemyModal() {
        /* 隐藏遮罩层 */
        $(".modal-backdrop").hide()
        /* 隐藏登录窗口 */
        $("#myModal").hide()
        $(".form-control").text("");
    }

    /* 显示登录 */
    function login() {
        $('#registeTitle').css('color', '#000');
        $('#registeForm').hide();
        $('#phoneloginForm').hide();
        $(".msg").text("");
        $('#loginTitle').css('color', '#337Ab7');
        $('#loginForm').show();
        $(".modal-backdrop").css('display', 'block')


    }

    /* 显示手机号登录 */
    function pathonLogin() {
        $('#phoneloginForm').show();
        $('#loginTitle').css('color', '#337Ab7');
        $('#loginForm').hide();
        $(".msg").text("");
    }

    /* 显示注册 */
    function registe() {
        $('#registeTitle').css('color', '#337Ab7');
        $('#registeForm').show();
        $('#loginTitle').css('color', '#000');
        $('#loginForm').hide();
        $('#phoneloginForm').hide();
        $(".msg").text("");
    }

    /* 注册 */
    function zhucelogin() {
        if($("#zcmkuphone").val()=="" || $("#zcyzm").val()=="" || $("#zcmkupassword").val()==""){
            $(".msg").text("请填写信息在注册")
        }else{

            if ($("#zcyzm").val()!=yzm){
                $(".msg").text("请输入正确的验证码")
            } else{
                $.ajax({
                    url: '/Mk_Use/insertUser',
                    data: $("#registeForm").serialize(),
                    type: 'post',
                    success: function (data) {
                        alert(data)
                        if (data == '1') {
                            $(".msg").text("手机号已存在,请重新输入")
                        } else {
                            alert("注册成功,请登录")
                            window.location = 'http://localhost:8080/Mk_Use/index'
                        }
                    },
                    error: function (xhr, msg) {
                        alert('出错')
                    }

                })
            }
        }
    }

    /* 登录 */
    function loginFormOne(cc) {
        var aa;
        /* 账号 */
        var zh;
        /* 密码 */
        var ma;
        if (cc == "loginForm") {
            aa = $("#loginForm").serialize();
            zh="mkuphone"
            ma="mkupassword";
        } else {
            aa = $("#phoneloginForm").serialize();
            zh="dlmkuphone";
            ma="dlyzm";
        }



        if($("#"+zh).val()=="" || $("#"+ma).val()==""){
            $(".msg").text("请填写信息在登录")
        }else{
            if($("#dlyzm").val()!=yzm){
                $(".msg").text("请输入正确的验证码")
            }else{
                $.ajax({
                    url: '/Mk_Use/selectOne',
                    data: aa,
                    type: 'post',
                    success: function (data) {
                        if (data.length == 0) {
                            $(".msg").text("输入错误,请重新输入")
                        } else {
                            /*/!* 显示个人窗口 *!/
                            $("#isshow2").css('display','block')
                            /!* 隐藏登录注册 *!/
                            $("#isshow").css("display",'none')
                            /!* 隐藏遮罩层 *!/
                            $(".modal-backdrop").css('display','none')
                            /!* 隐藏登录窗口 *!/
                            $("#myModal").css('display','none')*/
                            window.location = 'http://localhost:8080/Mk_Use/index'
                        }
                    },
                    error: function (xhr, msg) {
                        alert("出错")
                    }

                })
            }
        }
    }

</script>
<!-- 头部-end -->

<!-- 登录注册-start -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     style="position:fixed; top:25%;width:384px;left: 40%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" dataclose-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size:18px;">×</span>
                </button>
                <h4 class="modal-title" id="loginTitle" style="float: left; color: #337Ab7;cursor: pointer; "
                    onclick="login();">登录</h4>
                <h4 class="modal-title" id="registeTitle" style="float: left;margin-left: 20px;cursor: pointer;"
                    onclick="registe();">注册</h4>
                <div class="clearfix"></div>
                <!-- 关闭按钮 -->
                <a href="javascript:void(0)" onclick="closemyModal()"
                   style="width: 20px;height: 20px;position: absolute;top: 20px;left: 320px;"
                   class="glyphicon glyphicon-remove"></a>
            </div>

            <div class="modal-body">
                <!-- 登录 -->
                <form id="loginForm" action="/Mk_Use/selectOne" class="form-horizontal"
                      style="padding: 0px 20px;margin-left:25px;width: 300px;" method="post">

                    <div class="form-group">
                        <input type="text" class="form-control"c id="mkuphone" name="mkuphone"
                               placeholder="请输入登录手机号/邮箱">
                    </div>

                    <div class="form-group help">
                        <input type="password" class="form-control" id="mkupassword" name="mkupassword"
                               placeholder="请输入密码">
                    </div>

                    <div class="form-group">
                        <label>
                            <input type="checkbox" value="None" id="checkbox1" name="check">
                            <span class="text" style="color: #787D82;font-size: 14px;">7天内自动登录</span>
                        </label>
                        <a href="javascript:;"
                           style="color: #9199a1;margin-top: -25px;margin-left:30px;width: 65px">找回密码</a>
                        <div style="border-right: 1px solid #9199a1;margin-top: -23px;margin-left: 200px;width: 20px;height: 15px;"></div>
                        <a href="javascript:;" style="color: #9199a1; position: absolute;top: 115px;left: 280px">无法登录</a>
                        <!--<a href="javascript:;" style="color: #9199a1;margin-top:-100px;margin-left: 250px;width: 65px;height: 15px">无法登录</a>-->
                    </div>

                    <p class="msg"></p>

                    <a href="javascript:void(0)" onclick="loginFormOne('loginForm')">
                        <div class="header-login-btn" style="border-radius: 50px;">登 录</div>
                    </a>

                    <div style="width: 90px;height: 25px;margin-top: 10px">
                        <a href="javascript:void(0)" style="color: red" onclick="pathonLogin()">手机短信登录</a>
                    </div>

                    <div style="height: 25px;margin-top: 5px;margin-left: 40px">
                        <span style="font-size: 12px;">登录即同意目课网<a href="javascript:;"
                                                                  style="color: red;font-size: 12px;color: #37f;margin-top: -18px;margin-left:0px">《私密政策》</a></span>
                    </div>

                </form>

                <!-- 手机号登录 -->
                <form id="phoneloginForm" class="form-horizontal"
                      style="padding: 0px 20px;margin-left:25px;width: 300px;display: none">

                    <div class="form-group">
                        <input type="text" class="form-control" id="dlmkuphone" name="mkuphone" placeholder="请输入登录手机号">
                    </div>

                    <div class="form-group help">
                        <input type="text" class="form-control" id="dlyzm" style="width: 200px"
                               placeholder="请输入短信验证码">
                        <p style="margin-top: -25px;margin-left: 215px;width: 100px">
                            <a href="javascript:void(0)" style="font-size: 12px;color:#1481b8!important;"
                               onclick="sendCodes(this,'dlmkuphone')">获取验证码</a>
                        </p>
                    </div>

                    <div class="form-group">
                        <label>
                            <input type="checkbox" value="None" id="checkbox1" name="check">
                            <span class="text" sloginFormOnetyle="color: #787D82;font-size: 14px;">7天内自动登录</span>
                        </label>
                    </div>

                    <p class="msg"></p>

                    <a href="javascript:void(0)" onclick="loginFormOne('phoneloginForm')">
                        <div class="header-login-btn" style="border-radius: 50px">登 录</div>
                    </a>

                    <div style="width: 90px;height: 25px;margin-top: 10px">
                        <a href="javascript:;" style="color: red" onclick="login()">账号密码登录</a>
                    </div>

                    <div style="height: 25px;margin-top: 5px;margin-left: 40px">
                        <span style="font-size: 12px;">登录即同意目课网<a href="javascript:;"
                                                                  style="color: red;font-size: 12px;color: #37f;margin-top: -18px;margin-left:0px">《私密政策》</a></span>
                    </div>

                </form>


                <!-- 注册 -->
                <form id="registeForm" class="form-horizontal"
                      style="padding: 0px 20px;margin-left:25px;width: 300px;display: none">

                    <div class="form-group">
                        <input type="text" class="form-control" id="zcmkuphone" name="mkuphone" placeholder="请输入手机号">
                    </div>


                    <div class="form-group help">


                        <input type="text" class="form-control" id="zcyzm" style="width: 200px"
                               placeholder="请输入短信验证码">

                        <p style="margin-top: -25px;margin-left: 215px;width: 100px">
                            <a href="javascript:void(0)" style="font-size: 12px;color:#1481b8!important;"
                               onclick="sendCodes(this,'zcmkuphone')">获取验证码</a>
                        </p>

                    </div>

                    <div class="form-group help">
                        <input type="password" class="form-control" id="zcmkupassword" name="mkupassword" placeholder="请输入密码">
                    </div>

                    <div class="form-group">
                        <label>
                            <input type="checkbox" value="None" id="checkbox1" name="check">
                            <span class="text" style="color: #787D82;font-size: 14px;">
										同意&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&
										<a href="javascript:;"
                                           style="color: red;font-size: 12px;color: #37f;margin-top: -24px;margin-left:-120px">《慕课网注册协议》</a>
										<a href="javascript:;"
                                           style="color: red;font-size: 12px;color: #37f;margin-top:-198px;margin-left:0  px">《隐私政策》</a>
									</span>
                        </label>
                    </div>

                    <p class="msg"></p>

                    <a href="javascript:void(0)" onclick="zhucelogin()">
                        <div class="header-login-btn" style="border-radius: 50px">注册</div>
                    </a>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- 登录注册-end -->

<div id="main">
    <div class="user-head-info">
        <div class="user-info clearfix">
            <div class="user-pic">
                <div class="user-pic-bg">
                    <a th:href="@{/Mk_Use/useshow(mkuid=${session.msgss.mkuid})}" target="_blank"><img class="img" th:src="@{'img/'+${use.mkuimg}}"></a>
                </div>
            </div>
            <div class="user-info-left">
                <h3 class="user-name clearfix">
                    <span th:text="${use.mkuname}">qq_慕移动5288259 的课程笔记</span>
                    <input type="hidden" id="mkuid" th:value="${use.mkuid}"/>
                </h3>
                <div class="note-course">
                    <a th:href="@{/learn_show(courseid=${auth.mkcsid})}" target="_blank" >课程名称：<span th:text="${auth.mkctitle}">Springboot 微信小程序 – 微信登录功能实战</span></a>
                </div>
                <a th:href="@{Mk_Use/useshow(mkuid=1)}" target="_blank" class="user-info-site">TA的个人中心</a>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="detail-left">
            <!--循环在这里-->
            <div class="note-item js-item" data-id="2384316" th:if="${pageinfo.list.size()!=0}" th:each="pl:${pageinfo.list}">
                <div class="note-icon">
                    <input type="hidden" th:id="'ncontent'+${pl.mknid}" th:value="${pl.mknotecontent}"/>
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </div>
                <div class="note-wrap">
                    <div class="note-title">
                        <h3><a th:href="@{/video(mkcstid=${pl.mkcstid})}" target="_blank" th:text="${pl.mkcsname}">1-3 第一个nodejs程序</a></h3>
                        <div class="note-time" th:text="${pl.mknctime}">5秒前</div>
                    </div>
                    <div class="js-note-main" th:id="'main'+${pl.mknid}">
                        <div class="note-content"><p  th:utext="${pl.mknotecontent}">ddddd</p></div>
                        <div class="note-tool">
                                <a title="赞" style="text-decoration: none" th:onclick="'javascript:NoteFavorits('+${pl.mknid}+');'"  class="Jpraise moco-btn moco-btn-gray-l l" data-mid="18057">
                                    <span class="fa fa-thumbs-up" aria-hidden="true"></span>
                                    <em id="countfav" th:text="${pl.count}">0</em>
                                </a>
                            <ul class="note-tool-nav">
                                <li><a  th:onclick="'javascript:showdisplay('+${pl.mknid}+');'" class="js-btn-edit" >编辑</a></li>
                                <li><a  th:onclick="'javascript:dal('+${pl.mknid}+')'" title="删除此条笔记" data-toggle="modal" data-target=".bs-example-modal-sm"   class="js-btn-del delnote post-action">删除</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="js-note-editor note-editor"  style="display:none" th:id="'edi'+${pl.mknid}">
                        <div  class="edui-imooc" style="">
                            <div id="edui1" class="edui-editor  edui-imooc" style="width: 688px; z-index: 999;border-radius: 6px; ">
                                <textarea th:id="'editor'+${pl.mknid}" autofocus></textarea>
                            </div>
                        </div>
                        <div class="note-editor-tool">
                            <a th:onclick="'javascript:cancel('+${pl.mknid}+')'" class="moco-btn js-cancel">取消</a>
                            <a th:onclick="'javascript:UpdateNote('+${pl.mknid}+')'" class="moco-btn moco-btn-red js-submit">提交</a>
                        </div>
                    </div>
                    <script type="text/javascript">
                            function showdisplay(mknid) {
                                var con=$("#ncontent"+mknid).val();
                                var display=$("#edi"+mknid).css("display");
                                if(display=="none")
                                {
                                    $("#editor"+mknid).parent().parent().parent().css("display","block");
                                    var a=$("#edi"+mknid).css("display","block");
                                    $("#main"+mknid).css("display","none");
                                    var editor = new Simditor({
                                        textarea:$('#editor'+mknid),
                                        //optional options
                                        toolbar:[
                                            'code' ,
                                            'bold',
                                            'italic',        // unordered list
                                            'blockquote',
                                            // 'emoji',
                                            'image',
                                            'indent',
                                            'outdent',
                                        ],
                                        //  emoji: {
                                        // 	imagePath: 'images/emoji/'
                                        // },
                                        defaultImage : 'images/image.png', //编辑器插入图片时使用的默认图片
                                        upload : {
                                            url : '/InsertNode', //文件上传的接口地址
                                            params: null, //键值对,指定文件上传接口的额外参数,上传的时候随文件一起提交
                                            fileKey: 'file', //服务器端获取文件数据的参数名
                                            connectionCount: 1,
                                            width:100,
                                            height:100,
                                            leaveConfirm: '正在上传文件'
                                        }
                                    });
                                    editor.setValue(con);
                                }

                            }
                            function cancel(mknid) {
                                // 取消按钮显示回来
                                $("#editor"+mknid).parent().parent().parent().parent().parent().css("display",'none');
                                $("#edi"+mknid).css("display","none");
                                $("#main"+mknid).css("display","block");
                            }



                    </script>
                </div>

            </div>
            <div class="text-center" th:if="${pageinfo.list.size()!=0}">
                <span th:if="${pageinfo.hasPreviousPage}">
					<a th:href="@{/CourseNodeAll(mkuid=${session.msgss.mkuid},pagenum=${pageinfo.prePage},mkcsid=${auth.mkcsid})}" class="btn btn-primay btn-sm">上一页</a>
				</span>
                <span th:if="${pageinfo.hasNextPage}">
					<a th:href="@{/CourseNodeAll(mkuid=${session.msgss.mkuid},pagenum=${pageinfo.nextPage},mkcsid=${auth.mkcsid})}" class="btn btn-primay btn-sm">下一页</a>
				</span>
            </div>

            <div class="note-item" th:if="${pageinfo.list.size()==0}">
                <div style="padding:20px;text-align:center">
                    用户在该课程下没有笔记
                </div>
            </div>

            <!--删除笔记的模态框-->
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">

                           <div class="modal-header">
                               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                               <h4 class="modal-title">您确定要删除此笔记吗?</h4>
                           </div>
                           <div class="modal-body">
                               <input name="mknid" id="mknid" type="text"/>
                               <p>删除后无法恢复</p>
                           </div>
                           <div class="modal-footer">
                               <a class="moco-btn moco-btn-line-g js-modal-cancel" onclick="return false" data-dismiss="modal"><span>取消</span></a>
                               <a class="moco-btn moco-btn-dark js-modal-submit"th:onclick="javascript:deaal()" ><span>确定</span></a>
                           </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="detail-right">
            <div class="note-course">
                <a href="/learn/1199" target="_blank"><img class="note-course-img" th:src="@{'img/'+${auth.mkcimg}}" alt=""></a>
                <div class="note-course-info">
                    <h2 th:text="${auth.mkctitle}">Nodejs全栈入门</h2>
                    <ul class="note-course-item">
                        <li><span>难度</span><span th:text="${auth.mkdfname}"></span></li>
                        <li><span>时长</span><span th:text="${auth.mkctime}"></span></li>
                        <li><span>人数</span><span th:text="${auth.mkclearned}"></span></li>
                        <li><span>评分</span><span th:text="${auth.mkcscore}">.0</span> <span class="meta-stars">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <span style="position: relative; display:inline-block; line-height:0">
                                    <i class="imv2-star_h" style="position: absolute; left: 0px; top: 0px;">

                                    </i></span>
                            </span></li>
                    </ul>
                    <p th:text="${auth.mkteacherlearwhat}">整个项目重点分为2部分，前端通过react+redux实现UI界面和状态管理，后端使用express做web框架，使用mysql作为数据存储，利用 sequelize作为ORM，便于通过nodejs管理和操作mysql。</p>
                    <div class="note-course-btn">
                        <a th:href="@{/learn_show(courseid=${auth.mkcsid})}"  target="_blank" style="text-decoration: none" class="moco-btn moco-btn-lg moco-btn-red">
                            详细了解此课程
                        </a>
                    </div>
                </div>
            </div>

            <!--这里要做作者的判断-->
            <div class="note-course teacher-info" th:if="${auth.containsKey('mkuname')==false}">
                <a href="/u/1145997" target="_blank">
                    <img class="teacher-img" th:src="@{'img/'+${auth.mksimg}}" width="80" height="80">
                </a>
                <span class="tit">
                        <a href="/u/1145997" target="_blank" th:text="${auth.mksname}">一缕孤烟</a>
                        <i class="fa fa-free-code-camp" aria-hidden="true"></i>
                    </span>

                <p>写一辈子代码
                    Teddy 是一个程序狗
                </p>
            </div>
            <!--用户作者-->
            <div class="note-course teacher-info" th:if="${auth.containsKey('mksname')==false}">
                <a href="/u/1145997" target="_blank">
                    <img class="teacher-img" th:src="@{'img/'+${auth.mkuimg}}" width="80" height="80">
                </a>
                <span class="tit">
                        <a href="/u/1145997" target="_blank" th:text="${auth.mkuname}">一缕孤烟</a>
                        <i class="fa fa-free-code-camp" aria-hidden="true"></i>
                    </span>

                <p>写一辈子代码
                    Teddy 是一个程序狗
                </p>
            </div>
        </div>
    </div>
    <div class="tipoff-block js-tipoff-block"></div>
    <div class="tipoff-box js-tipoff-box">
        <div class="tipoff-top-box clearfix">
            <p class="l tipoff-title">举报</p>
            <span class="r tipoff-close-btn icon-close2 js-tipoff-close"></span>
        </div>
        <div class="tipoff-type-box js-tipoff-typebox clearfix">
            <div class="tipoff-loading">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <div class="tipoff-content">
            <textarea name="tipoff-content" class="tipoff-desc js-tipoff-desc" placeholder="写下举报理由"></textarea>
            <div class="tipoff-text"><span class="js-tipoff-text">0</span>/150</div>
        </div>
        <div class="tipoff-btn-box clearfix">
            <div class="r tipoff-submit-btn js-tipoff-submit" data-tipofftype="">提交</div>
            <div class="r tipoff-cancel-btn js-tipoff-close">取消</div>
        </div>
    </div>

</div>




<!-- 页脚-start -->
<div class="f-footer">
    <div class="f-footer-box clearfix">
        <div class="footer-link">
            <a href="javascript:void(0);"  target="_blank" title="企业合作">企业合作</a>
            <a href="javascript:void(0);" target="_blank" title="联系我们">联系我们</a>
            <a href="javascript:void(0);" target="_blank" title="常见问题">常见问题</a>
            <a href="javascript:void(0);" target="_blank" title="意见反馈">意见反馈</a>
            <a href="javascript:void(0);" target="_blank" title="友情链接">友情链接</a>
        </div>
        <div class="footer-copyright">
            <span>©&nbsp;2017&nbsp; 备案 </span>
        </div>
    </div>
</div>
<!-- 页脚-end-->

</body>

</html>
