<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>推荐课程</title>
    <link href="res/css/moco.min.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="js-commend-box"  >
    <div class="mb40 recom-course-list-box">
        <h4>推荐课程</h4>
        <ul class="js-recom-course moco-aside-course clearfix" >
            <li>
                <div class="aside-course-img">
                    <img src="">
                    <p class="aside-course-type">实战</p>
                </div>
                <div class="aside-course-content">
                    <a href="//coding.imooc.com/class/71.html" class="aside-course-name" target="_blank">算法与数据结构--综合提升篇（c++版）
                    </a>
                    <p class="aside-course-price" >
                        <span style="font-weight: bold" >￥166.00</span>
                    </p>
                    <div class="aside-course-dot">
                        <i>&nbsp;</i>
                    </div>
                    <p class="aside-course-grade" >中级</p>
                    <div class="aside-course-dot"><i>&nbsp;</i></div>
                    <p class="aside-course-people"><i class="fa fa-user-o" aria-hidden="true"></i>
                        <span>9028</span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>


</body>
</html>